---
layout: default
title: TagHome
---

<div class="posts">
    {% for post in site.posts %}
    {% if post.tags contains page.tag-name %}
    <div class="post">
        <h1 class="post-title">
            <a href="{{ post.url | absolute_url }}">
                {{ post.title }}
            </a>
        </h1>

        <span class="post-date">
            {{ post.date | date_to_string }}
            {% if post.tags.size > 0 %}
            {% for tag in post.tags %}
            <a href="{{ site.baseurl | absolute_url }}/tags/{{ tag }}/">
                <code style="font-size: 85%">#{{ tag }}</code>
            </a>
            {% endfor %}
            {% endif %}

        </span>


        {{ post.excerpt }}
    </div>
    {% endif %}
    {% endfor %}
</div>